
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/Poppins-Bold.ttf') format('truetype'),
    url('../assets/Poppins-Bold.woff') format('woff'),
    url('../assets/Poppins-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../assets/Poppins-Light.ttf') format('truetype'),
    url('../assets/Poppins-Light.woff') format('woff'),
    url('../assets/Poppins-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/Poppins-Medium.ttf') format('truetype'),
    url('../assets/Poppins-Medium.woff') format('woff'),
    url('../assets/Poppins-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/Poppins-Regular.ttf') format('truetype'),
    url('../assets/Poppins-Regular.woff') format('woff'),
    url('../assets/Poppins-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('../assets/Poppins-Thin.ttf') format('truetype'),
    url('../assets/Poppins-Thin.woff') format('woff'),
    url('../assets/Poppins-Thin.woff2') format('woff2');
}

button {
    width: auto;
    border-radius: 6%;
    border: 1px solid;
    padding: 0 20px 0 20px;
    font-family: Poppins-Light;
    font-size: 11px;
    color: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
            0px 2px 4px rgba(0,0,0,0.1), 
            0px 4px 8px rgba(0,0,0,0.1), 
            0px 8px 16px rgba(0,0,0,0.1);
}

body button:hover {
    background: #c1cfe7;
}

body button:active {
    background: #22234e;
}

.RollDownMenus button {
    height: 30px;
    background-color: #16a9e8;
}

.BigPic button {
    height: 40px;
    background: linear-gradient(to left, #167aa4, #16a9e8);
}

.BlueInfo button {
    height: 30px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    color: white;
}

.Welcomesub2 button {
    color: rgb(60, 160, 220);
    border-color: rgb(60, 160, 220);
    height: 30px;
}

.Booking button {
    border-radius: 19px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 10px 20px;
    margin: 0 25px 0 25px;
}

.SocialMedia a {
    height: 12px;
    width: 12px; 
    margin-right: 10px;
    opacity: 0.5;
}

.SocialMedia .linkedin {
    background-image: url(../images/linkedin.svg);
}

.SocialMedia .facebook {
    background-image: url(../images/facebook.svg);
}

.SocialMedia .google {
    background-image: url(../images/google-plus.svg);
}

.EmailandPhone img {
    height: 12px;
    width: auto;
    opacity: 0.5;
}

.EmailandPhone a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.EmailandPhone a:hover {
    text-decoration: underline;
}

.EmailandPhone .infoemail {
    padding-right: 30px;
}

.RollDownMenus img {
    height: 30px;
    width: auto;
}

.menulist ul {
    list-style: none;
    padding: 0;
}

.menulist >ul {
    display: grid;
    grid-auto-flow: column;
}

.menulist  >ul >li {
    margin: 0 0.5rem;
}

.Blog_listelement {
    position: relative;
}

.Pages_listelement {
    position: relative;
}

.Blog_dorpdown_menu {
    background-color: rgb(220, 210, 210);
    border-radius: 4px;
    padding: 0.5em 0;
    min-width: 50px;
    position: absolute;
    top: calc(100% - 0.25rem);
    left: 50%;
    transform: translateX(-50%);
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    visibility: hidden;
    transition: 280ms all ease-out;
}

.Pages_dropdown_menu {
    background-color: rgb(220, 210, 210);
    border-radius: 4px;
    padding: 0.5em 0;
    min-width: 50px;
    position: absolute;
    top: calc(100% - 0.25rem);
    left: 50%;
    transform: translateX(-50%);
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    visibility: hidden;
    transition: 280ms all ease-out;
}

.menulist ul li:hover ul, 
.menulist ul li:focus-within ul {
    opacity: 1;
    transform: rotateX(0) translateX(-50%);
    visibility: visible;
}

.Blog_dropdown_selector::after {
    content: "";
    display: inline-block;
    border: 0.35rem solid transparent;
    border-top-color: rgb(68, 68, 68);
    margin-left: 0.25em;
    transform: translateY(0.15em);
}

.Pages_dropdown_selector::after {
    content: "";
    display: inline-block;
    border: 0.35rem solid transparent;
    border-top-color: rgb(68, 68, 68);
    margin-left: 0.25em;
    transform: translateY(0.15em);
}

.menulist  a {
    display: block;
    text-align: center;
}

.menulist button {
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    color: rgb(68, 68, 68);
    height: fit-content;
}

.menulist button:hover {
    background: none;
    text-decoration: underline;
}

.RollDownMenus .menulist a {
    color: rgb(68, 68, 68);
    text-decoration-line: none;
}

.RollDownMenus .menulist a:hover {
    text-decoration-line: underline;
}

.BlueInfo img {
    height: 25px;
    width: auto;
}

.RollDownMenus .menulist {
    color: rgb(68, 68, 68);
}

.RollDownMenus select {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    width: 15px;
    color: rgb(68, 68, 68);
}

.DepartmentsGrid a {
    text-decoration-line: none;
    color: rgb(60, 160, 220);
}

.DepartmentsGrid a:hover {
    text-decoration-line: underline;
}

.Doctors img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.Menu2 button {
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    color: rgb(68, 68, 68);
    height: 100%;
    width: 100%;
    font-size: 18px;
}

.Menu2 button:hover {
    background: white;
}

.Menu2 >ul {
    width: 50%;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.LeadingEdge_menu {
    position: relative;
}

.menulist2_subul1 {
    position: absolute;
    padding: 0;
    left: 150%;
    transform: translateX(-50%);
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    visibility: hidden;
    transition: 280ms all ease-out;
}

.Menu2 ul li:hover ul, 
.Menu2 ul li:focus-within ul {
    opacity: 1;
    transform: rotateX(0) translateX(-50%);
    visibility: visible;
}

.menulist2_subul1 li {
    width: 700px;
    height: 250px;
}

.sometext {
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sometext img {
    width: 25px;
    height: auto;
}

.LeadingEdgePic {
    width: 50%;
    height: 80%;
    float: right;
    margin: 2em 0 2em 0;
}

.menulist2_subul1 li::after {
    content: "";
    display: inline-block;
    height: 1.5px;
    width: 100%;
    position: relative;
    top:-5%;
    background-color: rgb(181, 175, 175);
}

.UpperFooter a {
    color: white;
    text-decoration: none;
}

.UpperFooter a:hover {
    text-decoration: underline;
}

.UpperFooter img {
    height: 20px;
    width: auto;
}

.Docmed h2 img {
    height: 30px;
}

.UpperFooter ul {
    padding: 0;
    list-style: none;
}

.UpperFooter li {
    margin: 10px 0;
}

.SocialMedia2 button {
    height: 32px;
    width: 32px;
    padding: 0;
    margin-right: 5px;
    background: rgb(150, 141, 141);
    opacity: 0.5;
    border: none;
}

.SocialMedia2 img {
    height: 10px;
    width: 10px;
}

span.colorfib {
color: #16a9e8;
}