:root {
    --darkBlue: rgb(60, 160, 220);
}

:root {
    --lightBlue: #16a9e8;
}

:root {
    --backgroundBlue: rgb(60, 190, 220);
}
:root {
    --lightGrey: rgb(68, 68, 68);
}

:root {
    --whiteyGrey: rgb(229, 243, 243);
}

:root {
    --fontLightGrey: rgb(217, 227, 227);
}