html{
    height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
    font-family: Poppins-Light;
    font-size: 11px;
}

div.container {
    width: 60%;
    min-width: 1400px;
    margin: auto;
}

.ContactInfo {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    min-width: 1400px;
    background-color: rgb(229, 243, 243);
    display: flex;
    justify-content: space-between;
}

.SocialMedia {
    display: flex;
    align-items: center;
}

.EmailandPhone {
    align-items: center;
    gap: 10px;
    padding-right: 100px;
}

.RollDownMenus {
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}

.RollDownMenus .menulist {
    display: flex;
    gap: 18px;
}

.BigPic {
    width: 100%;
    min-width: 1200px;
    height: 350px;
    box-sizing: border-box;
    background-image: url('../images/header-background.webp'); 
}

.BigPic h1 {
    font-size: 40px;
}

.BigPic h1 span.HealthCare {
    font-family: Poppins-Bold;
    font-weight: bold;
    font-size: 44px;
}

.BigPic section {
    width: 340px;
}

.BlueInfo {
    width: 100%;
    height: 200px;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(60, 190, 220);
    color: white;
}

.BlueInfo div {
    width: 33%;
    box-sizing: border-box;
    padding: 25px 10px 25px 10px;
}

.BlueInfo h3 {
    margin: 15px 0 10px 0;
}

.BlueInfo p {
    margin: 0;
}

.BlueInfo .EmergencyCare {
    background-color: rgb(60, 160, 220);
}