@media  (max-width: 800px) {
    
    body {
        min-width: 0;
        min-height: 0;
    }

    .appointmentbutton {
        display: none;
    }

    div.HeaderCollector {
        flex-direction: column;
        align-items: center;
    }

    .RollDownMenus div:first-child {
        max-height: inherit;
        width: 80%;
        display: block;        
    }

    div.MenuCollector {
        height: auto;
        background-color: rgb(47, 45, 43);
        color: white;
        margin-top: 2%;
    }
    
    button.darkmenubutton {
        display: block;
        background-color: rgb(27, 26, 25);
        color: white;
        float: right;
        font-family: Poppins-Bold;
        border: 1px solid;
        padding: 0 5px;
        margin: 2%;
        border-radius: 5%;
    }

    button.darkmenubutton:hover {
        color: blueviolet;
    }

    .MenuCollector >ul {
        clear: right;
        display: block;
        color:white;
    }

    .Blog_dorpdown_menu, .Pages_dropdown_menu {
        background-color: rgb(85, 61, 61);
        left: 15%;
    }

    .Blog_dropdown_selector::after, .Pages_dropdown_selector::after {
        border-top-color: white;
    }  

    .MenuCollector  a {
        text-align: left;
    }

    .MenuCollector a {
        color: white;
    }

    .BigPicCollector {
        min-width: 80%;
        align-items: center;
        padding: 10% 0;
    }

    .BigPicCollector h1, .BigPicCollector p {
        min-width: 80%;
    }

    .BigPicCollector h1 {
        font-size: 30px;
    }

    nav.Blueinfo {
        flex-direction: column;
        align-items: center;
    }

    .Blueinfo div {
        min-width: 80%;
    }

    div.WelcomeContainer {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        margin: 10% 0;
    }
    
    .WelcomeContainer >div {
        width: 100%;
    }
    
    .Welcomesub1 img {
        width: 100%;
    }

    .Welcomesub1 img:nth-child(2) {
        display: none;
    }

    header.DeptsHeader {
        width: 80%;
    }

    div.DepartmentsGrid {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
    }

    div.BigPic2container {
        width: 80%;
    }

    .Menu2 button {
        font-size: 16px;
    }

    .Menu2 >ul {
        width: 80%;
    }

    .menulist2_subul1 {
        width: 300%;
    }

    .sometext {
        width: 100%;
        float: none;
    }

    div.PicInMenu2 {
        height: 50%;
        width: 100%;
        float: none;  
    }

    div.DocContainer {
        width: 80%;
    }

    .DocContainer h1 {
        margin-left: unset;
    }

    .DocContainer h1, .DocContainer p {
        text-align: center;
    }

    div.DoctorsGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .DoctorsGrid >div {
        margin: 5% 0;
    }

    .Booking >div {
        width: 50%;
        min-width: min-content;
        flex-direction: column;
        justify-content: space-between;
        padding: 10% 5% 0 5%;
    }

    .Booking div:nth-child(2) {
        flex-direction: column;
    }

    .Booking button {
        margin-bottom: 10%;
    }

    footer.UpperFooter {
        flex-direction: column;
        padding-bottom: 5%;
    }

    .UpperFooter >div {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: unset;
    }

    .UpperFooter ul {
        min-width: max-content;
    }
}