html{
    height: 100vh;
}

body {
    width: 100%;
    min-width: 1400px;
    min-height: 100vh;
    margin: auto;
    font-family: Poppins-Light;
    font-size: 11px;
}

.ContactInfo {
    height: 30px;
    background-color: rgb(229, 243, 243);
    display: flex;
    justify-content: center;
}

div.HeaderCollector {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.SocialMedia {
    float: left;
    display: flex;
    align-items: center;
}

.EmailandPhone {
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
}

.RollDownMenus {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

div.MenuCollector {
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BigPic {
    height: 400px;
    background-image: url(../images/header-background.webp); 
    display: flex;
    justify-content: center;
}

div.BigPicCollector {
    width: 50%;
}

.BigPic h1 {
    font-size: 40px;
}

.BigPic h1 span.HealthCare {
    font-family: Poppins-Bold;
    font-weight: bold;
    font-size: 44px;
}

.BlueInfo {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(60, 190, 220);
    color: white;
}

.BlueInfo div {
    width: 16.66%;
    box-sizing: border-box;
    padding: 25px 10px 25px 10px;
}

.BlueInfo h3 {
    margin: 15px 0 10px 0;
}

.BlueInfo .EmergencyCare {
    background-color: rgb(60, 160, 220);
}

div.Welcome {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.WelcomeContainer {
    height: 80%;
    width: 50%;
}

div.Welcomesub1 {
    width: 50%;
    float: left;
}

.Welcomesub1 img {
    height: 55%;
}

img.docpic2overlay {
    position: relative;
    top: 10%;
    left: -20%;
}

div.Welcomesub2 {
    width: 50%;
    float: right;
}

.Welcomesub2 h4::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: rgb(60, 160, 220);
    position: relative;
    left: -122px;
    top: 16px;
    
}
.Welcomesub2 ul {
    list-style-type: disc;
    margin-bottom: 20px;
}

div.Departments {
    height: 700px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

header.DeptsHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.DeptsHeader h1::after {
    content: "";
    display: inline-block;
    height: 2.5px;
    width: 22%;
    background-color: rgb(60, 160, 220);
    position: relative;
    left: 39%;
    top: 10px;
}

.DeptsHeader p {
    text-align: center;
}

.DepartmentsGrid img {
    height: 150px;
}

div.DepartmentsGrid {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2, auto;
}

.DepartmentsGrid div {
    margin-bottom: 15px;
}

div.BigPic2 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(60, 160, 220);
}

div.BigPic2container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BigPic2container h1 {
    font-size: 50px;
    font-family: Poppins-Bold;
    margin: 0;
}

.BigPic2container p {
    text-align: center;
    margin: 0 auto 20px auto;
    font-size: larger;
}

.BigPic2container h4::before {
    content: "";
    display: inline-block;
    height: 1.5px;
    width: 70%;
    background-color: white;
    position: relative;
    left: 15%;
    top: -10px;
}

nav.MenuList2 {
    height: 80px;
    background-color: rgb(229, 243, 243);
}

div.LeadingEdge {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LeadingEdgeContainer {
    width: 50%;
    height: 80%;
}

.LeadingEdgeContainer::after {
    content: "";
    display: inline-block;
    height: 1.5px;
    width: 100%;
    position: relative;
    top: -10%;
    background-color: rgb(195, 208, 208);
}

.sometext {
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 5%;
    box-sizing: border-box;
}

.sometext img {
    width: 25px;
    height: auto;
}

.LeadingEdgePic {
    width: 50%;
    height: 80%;
     float: right;
}

div.Doctors {
    height: 500px;
    display: flex;
    justify-content: center;
}

div.DocContainer {
    width: 50%;
    height: 100%;
}

div.DoctorsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
}

.DoctorsGrid div {
    height: 100%;
    background-color: rgb(229, 243, 243);
}

.DoctorsGrid h2 {
    text-align: center;
    margin-bottom: 0;
}

.DoctorsGrid p {
    text-align: center;
    margin-top: 0;
}

div.Booking {
    height: 200px;
    display: flex;
}

div.Emergency {
    flex-grow: 1; 
    background-color: rgb(60, 190, 220);
}

.Booking .Appointment {
    flex-grow: 1;
    background-color: rgb(60, 160, 220);
}