html{
    height: 100vh;
}

body {
    width: 100%;
    min-width: 1400px;
    min-height: 100vh;
    margin: auto;
    font-family: Poppins-Light;
    font-size: 11px;
}

.ContactInfo {
    height: 30px;
    background-color: rgb(229, 243, 243);
    display: flex;
    justify-content: center;
}

div.HeaderCollector {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.SocialMedia {
    float: left;
    display: flex;
    align-items: center;
}

.EmailandPhone {
    float: right;
    display: flex;
    align-items: center;
    gap: 10px;
}

.RollDownMenus {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.MenuCollector {
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RollDownMenus .menulist {
    display: flex;
    gap: 18px;
}

.BigPic {
    height: 400px;
    background-image: url(../images/header-background.webp); 
    display: flex;
    justify-content: center;
}

div.BigPicCollector {
    width: 50%;
}

.BigPic h1 {
    font-size: 40px;
}

.BigPic h1 span.HealthCare {
    font-family: Poppins-Bold;
    font-weight: bold;
    font-size: 44px;
}

.BlueInfo {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(60, 190, 220);
    color: white;
}

.BlueInfo div {
    width: 16.66%;
    box-sizing: border-box;
    padding: 25px 10px 25px 10px;
}

.BlueInfo h3 {
    margin: 15px 0 10px 0;
}

.BlueInfo .EmergencyCare {
    background-color: rgb(60, 160, 220);
}